---

import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'

---

<Layout title="Introducción a la ingeniería - Proyecto">
	<Navbar></Navbar>
	<div class="hero min-h-screen" style="background-image: url(/Computation.jpg);">
		<div class="hero-overlay bg-opacity-60"></div>
		<div class="hero-content text-center text-neutral-content">
			<div class="max-w-md">
				<h1 class="mb-5 text-5xl font-bold">Saludos</h1>
				<p class="mb-5">Aprenderás sobre los fundamentos de la ingeniería en software y sus diferentes conceptos, tambien estaremos hablando del internet y su historia.</p>
				<a href="/content" class="btn btn-primary">¡Comienza aquí!</a>
			</div>
		</div>
	</div>
	<Footer />
</Layout>