<div class="card lg:card-side bg-base-100 -z-10">
    <div class="mockup-phone border-[#111] mt-[-5px] ml-11 z-0">
        <div class="camera"></div> 
        <div class="display">
              <div class="artboard artboard-demo phone-1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d688.7934402326815!2d-70.09029875218314!3d18.416461547244154!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea55f00edb4d039%3A0x55cc8a2d3083cd81!2sCasa!5e0!3m2!1ses!2sdo!4v1670191213917!5m2!1ses!2sdo" width="325" height="570" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="rounded-lg shadow-xl"></iframe>
            </div>
        </div>
    </div>
    
    <div class="card-body">
        <div class="avatar flex flex-col items-center justify-center gap-3 z-0">
            <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                <img src="/Avatar.jpg" />
            </div>
            <div class="flex mt-8">
                <div>
                    <h1 class="text-4xl">Yeiser H. Jimenez Roa</h1>
                    <p class="text-xl">2021-0176</p>
                </div>
                <div class="mt-5">
                    <h1 class="font-bold text-xl">Correos electrónicos:</h1>
                    <a class="link link-primary">Yeiser192@gmail.com</a>
                    <br>
                    <a class="link link-primary">2021-0176@unad.edu.do</a>
                </div>
                <div class="mt-5">
                    <h1 class="font-bold text-xl">Número de teléfono:</h1>
                    <a class="select-none">+1 829 844-6199</a>
                </div>
                <div class="mt-5">
                    <a href="https://forms.gle/qN9DTiQWBkRhyhTK6" target="_blank" class="btn btn-primary justify-end">¡Escríbeme aquí!</a>
                </div>
            </div>
        </div>
    </div>
</div>