---
import Logotype from '/favicon.png'
---

<header class="z-[9999]">
    <nav class="navbar bg-base-100 drop-shadow-lg">
        <div class="navbar-start max-w-6xl mx-auto px-4">
            <div class="dropdown bg-base-100">
                <label tabindex="0" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                </label>
                <ul class="menu bg-base-100  dropdown-content mt-3 p-2 shadow rounded-box w-52">
                    <li>
                        <a href="/"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg> Inicio</a>
                    </li>
                    <li class="menu-title">
                        <span>Contenidos</span>
                    </li>
                    <li>
                        <a href="/content">Fundamentos de computación <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                          </svg>
                          
                          </a> 
                        <ul class="menu bg-base-100  dropdown-content mt-3 p-2 shadow rounded-box">
                            <li class="menu-title">
                                <span>Fundamentos de la computación</span>
                            </li>
                            <li class="hover-bordered">
                                <a href="/content1">Estructura de datos</a>
                            </li>
                            <li class="hover-bordered">
                                <a href="/content2">representacion de la informacion</a>
                            </li>
                            <li class="hover-bordered">
                                <a href="/content3">Diseño lógico</a>
                            </li>
                            <li class="hover-bordered">
                                <a href="/content4">Lenguaje máquina</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/internet">Fundamentos del internet</a> 
                    </li>
                    <li>
                        <a href="/contact"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" /></svg> Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar-center">
            <a href="/" class="btn btn-ghost normal-case text-xl">Introducción a la ingeniería</a>
        </div>
        <div class="navbar-end max-sm:hidden">
            <a href="https://github.com/YeiserDeveloper" target="_blank" class="btn btn-ghost btn-circle">
                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                      <img src={Logotype} />
                    </div>
                </label>
            </a>
        </div>
    </nav>
</header>